
/* Media Queries for each site */

@media (max-width: 1599px) {
	.service-2-content {
		padding: 0px;
	}
}

@media (max-width: 1199px) {
	body{
		overflow-x:hidden;
		word-wrap: break-word;
	}
	
	.agni-slides .slide-content p {
		font-size: 45px;
	}
	.agni-video .slide-content .big-heading {
		font-size: 45px;
	}
	.agni-video .slide-content .additional-heading {
		font-size: 18px;
	}
	.agni-slides .slide-content .text-slide-title{
		font-size:40px;
		margin-bottom:0;
	}
	.agni-slides .slide-content .text-slide-additional-title{
		font-size:18px;
	}
	.agni-slides .slide-content a{
		padding: 10px 36px;
		font-size:13px;
		margin-top:15px;
	}	
	.page-header-title{
		font-size:36px;
	}
	.page-header-additional-text {
		font-size: 15px;
	}

}


@media (max-width: 991px) {	
	
	.toggle-nav-menu{
		display: inline-block;
	}
	.nav-menu{
		display:none;
	}
	
	
	.tab-nav-menu, .tab-nav-menu a{
		display:block;
	}

	.tab-nav-menu {
		max-height: 240px;
	}
	.agni-slides .slide-content p {
		font-size: 36px;
		line-height: 1.7857;
	}
	.agni-video .slide-content .big-heading {
		font-size: 36px;
	}
	.agni-video .slide-content .additional-heading {
		font-size: 17px;
	}
	.agni-video .slide-content p {
		margin-bottom: 10px;
	}
	.agni-slides .slide-content .text-slide-title{
		font-size:32px;
		line-height:1.4;
	}
	.agni-slides .slide-content .text-slide-additional-title{
		font-size:17px;
	}
	.agni-slides .slide-content a{
		padding: 8px 24px;
		font-size:12px;
		margin-top:10px;
	}
	
	.page-header-title{
		font-size:24px;
	}
	.page-header-additional-text {
		font-size: 14px;
	}
	
	.about-4_bg , .service-3_bg, .skills_bg, .client_bg{
		background-image:none;
	}	
	.clients {
		margin-right: 0;
	}
	.portfolio-nav-links {
		width: 100%;
	}
	.contact-icon {
		width: 20%;
		text-align: center;
	}
}

@media (max-width: 767px) {	
	
	.header-navigation-menu{
		min-height:60px;
	}
	.spacer{
		min-height:60px;
	}
	.header-logo{
		min-height:60px;
	}
	/* .header-icon{
		height: 100%;
		margin-top: -15px;
	}
	.header-icon .logo-dark, .header-icon .logo-light{
		font-size: 24px;
	} */
	.nav-menu{
		line-height:60px;
	}
	.tab-nav-menu-content li a{
		font-size:14px;	
	}
	.tab-nav-menu-content li a.indicator{
		font-size:18px;
	}
	.toggle-nav-menu{
		padding: 10px 0;
	}
	.toggle-nav-menu > div:first-child {
		font-size:13px;
	}
	.toggle-nav-menu i{
		font-size:30px;
		padding:15px 0;
	}
	.burg {
		margin: 19px 0 18px 5px;
	}
	
	.slide-container {
		width: 100%;
	}
	.agni-slides .slide-content p {
		font-size: 24px;
	}
	.agni-video .slide-content .big-heading {
		font-size: 24px;
	}
	.agni-video .slide-content .additional-heading {
		font-size: 15px;
	}
	.page-header-title{
		font-size:20px;
	}
	.page-header-additional-text {
		font-size: 13px;
	}
	
	.service-2-icon {
		width: 80px;
		padding-right: 10px
	}
	.portfolio-thumbnail-caption {
		padding:20px;
	}
	.member-image, .member-caption{
		width:100%;
		display: block;
	}
	.member-caption {
		padding-top: 30px;
		padding-right: 15px;
	}
	.member-caption-2 {
		padding:20px;
	}	
	.post-thumbnail img {
		width: 200%;
	}
}

@media (max-width: 320px) {
	.toggle-nav-menu > div:first-child {
		display: none;
	}
	.agni-slides .slide-content p {
		font-size: 20px;
	}
	.agni-video .slide-content .big-heading {
		font-size: 20px;
	}
	.agni-video .slide-content .additional-heading {
		font-size: 14px;
	}
	.page-header-title{
		font-size:18px;
	}
	.page-header-additional-text {
		font-size: 12px;
	}	
}
@media(max-width: 458px){
	.header-icon .logo-dark, .header-icon .logo-lite{
		font-size: 16px;
	}
	.header-icon img{
		width: 200px;
	}
}
@media(max-width: 390px){
	.header-icon img{
		width: 150px;
		margin-top: 10px;
	}
}
@media(max-width: 360px){
	.header-icon img{
		width: 130px;
		margin-top: 13px;
	}
}
